<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AMPlayer.resources.player" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="AMPlayer.default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <AMPlayer.resources.player>
            <setting name="Locale" serializeAs="String">
                <value>international</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="MediaPlayer" serializeAs="String">
                <value>.\mplayer\mplayer.exe </value>
            </setting>
            <setting name="Arguments" serializeAs="String">
                <value>-osdlevel 0 -nofs -identify -slave -nomouseinput -sub-fuzziness 1 -vo direct3d, -ao dsound -wid $(OutputHandle) "$(Path)"</value>
            </setting>
        </AMPlayer.resources.player>
        <AMPlayer.default>
            <setting name="Locale" serializeAs="String">
                <value>international</value>
            </setting>
        </AMPlayer.default>
    </userSettings>
</configuration>
